@{
    ViewData["Title"] = "Home Page";
}

        
            <div class="text-center">
                <h1 class="display-4">Bem-vindo</h1>
                <img src="/Img/LeveLivro.jpg">


                     <div class="botoes">
                         
                        <a href="https://levelivro.azurewebsites.net/Livros/Index"><button class="btn third">LIVROS</button></a>  <br>

                       <a href="https://levelivro.azurewebsites.net/Alunos/Index"><button class="btn third">ALUNOS</button></a>   <br>


                       <a href="https://levelivro.azurewebsites.net/Emprestismos/Index"><button class="btn third">EMPRÉSTIMOS</button></a>    <br>

                        <a href="https://levelivro.azurewebsites.net/Usuarios/Index"><button class="btn third">USUÁRIOS</button></a>   <br>

                        <a href="https://levelivro.azurewebsites.net/Home/Logout"><button class="btn third">Sair</button></a>   <br>

                     </div>


            </div>

           
           
